{
  debug
  log {
    level debug
  }
}

# i guess we need the dns entry, and the proxied port 
https://drew-lin-desktop.lan:3000, https://drew-lin-desktop.lan,
https://drew-lin-laptop.lan:3000, https://drew-lin-laptop.lan,
https://nixos-testing.lan:3000, https://nixos-testing.lan {
  
  tls internal

	log {
		level debug
	}

  # Set this path to your site's directory.
  root * /usr/share/caddy

  # Enable the static file server.
  file_server

	# templates
	# header Content-Type text/plain
  # respond "{{.RemoteIP}}"
}
