{
  debug
  log {
    level debug
  }
}

# i guess we need the dns entry, and the proxied port 
https://nixos-testing.lan:3000, https://nixos-testing.lan {
  
  tls internal

	log {
		level debug
	}
	templates
	header Content-Type text/plain
	respond "{{.RemoteIP}}"
}
