{
  debug
  log {
    level debug
  }
}

https://nixos-testing.lan:3000, 
127.0.0.1:3000, 
https://127.0.0.1:3000, 
https://192.168.2.180:3000, 
https://nixos-testing.lan, 
https://nixos-testing.lan:443 
{
  
  tls internal

	log {
		level debug
	}
	templates
	header Content-Type text/plain
	respond "{{.RemoteIP}}"
}
