*{
    padding: 0rem;
    margin: 0rem; 

    font-style: italic;
    /* font-size: 32px; */
}

.home_outer{
    padding: 0rem;
    margin: 0rem;

    color:white;

    height:100vh;
    width:100vw;
}

.home_outer_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContentGrid{

    height:100%;
    width:100%;
    
    background-color: black;
    color:white;

    display: grid;

}

.centerContent{
    display: grid;
    grid-template: 20% 80% / 100%;

    max-height: 100%;
    max-width: 100%;

    justify-self: center;
    align-self: center;
}

.centerContentWrapper{
    display:grid;
    grid-template: 5vh 90vh 5vh / 5vw 90vw 5vw;
    height:100vh;
    width:100vw;
}

@font-face {
    font-family: zefont;
    src: url(/BrodoThinGrunge.ttf);
  }
.img_txt{
    font-size: 300%;
    /* margin: 2%; */
    font-family: zefont;
    font-weight: bold;
    text-align: center;
    text-align: center;
    /* height:auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_outer  .centerContent .the_one_img_wrapper{
    height:auto;
}
.home_outer  .centerContent .the_one_img {
    max-width: 85vw;
    /* max-height: 20vh; */
    /* overflow: hidden; */

    justify-self: center;
    align-self: center;

    display: grid;
}

.the_one_img > img{
    max-height: 100%;
    max-width: 100%;

    justify-self: center;
    align-self: center;
}

.leaves_img{
    width:45rem;
    position: absolute;
    max-height: 100%;
    max-width:100%;
}

/* weird mobile stuff */
@media (min-resolution: 2.1dppx) {
    
    @media (orientation: landscape) {
        .leaves_img{
            max-width:30%;
            max-height: 100%;
        }
    }
      
    @media (orientation: portrait) {
        /* .leaves_img{
            max-width:30%;
            max-height: 100%;
        } */
    }
}

#leaves1{
    right:0px;
    top:0px;
}
#leaves2{
    transform: rotate(180deg);
    left:0px;
    bottom:0px;
}

.leaves_src{
    max-height:100%;
    max-width:100%;
}
