.WeddingParty{
    position: fixed;

    --top: 30vh;
    top: var(--top);
    height: calc(100vh - var(--top) - var(--black-box-padding));

    flex-wrap: wrap;
    justify-content: center;

    width: calc(95vw - 2*var(--black-box-padding) );

    overflow-y: scroll;

    /* overflow-y: scroll; */
}

.WeddingPartyWrapper{
    /* padding: 1rem; */
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.WeddingPartyWrapper > *{
    padding: 1rem;
}